body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 70%;
    max-width: 500px;
}

input {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

#pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pokemonInfo img {
    max-width: 200px;
    height: auto;
}

@media (max-width: 600px) {
    .search-container {
    width: 90%;
    }
}